yzksp-app/src/backend/yzkspProject/yzkspApp/__pycache__/
yzksp-app/src/backend/yzkspProject/yzkspApp/migrations/__pycache__/
yzksp-app/src/backend/yzkspProject/yzkspProject/__pycache__/
yzksp-app/src/backend/yzkspProject/debug.log
